body { padding: 15px; }

article { padding: 1em; border: 1px solid; }

.replies { margin: 1em 0.8em 1em 1em; }
.replies article { margin: 1.5em 0; }

main > hr, .replies > hr { display: none; } /* entry dividers */

.skeuo,  .copy li:before, .copy hr:after
{ font-weight: bold; font-size: 1.1em; }


/* body ('copy') */

.copy h1, .copy h2, .copy h3 { margin: 0; }
.copy h1 { font-size: 1.5em; }
.copy h2 { font-size: 1.2em; }

.copy .cut { font-size: 130%; font-style: italic; }

.copy blockquote { margin-top: 0.3em; margin-bottom: 0.3em; }
.copy pre { line-height: 1; }

.copy hr { border: 0; margin: 0; font-weight: bold; }
.copy hr:after { content: "─"; }

.copy li { list-style-type: none; }
.copy li:before {
content: "*"; margin-right: 0.5em; vertical-align: middle;
font-family: sans-serif;
}
.copy li.checked:before { margin-right: 0; }
.copy li.checked > .skeuo { margin: 0 0.1em 0 0.3em; font-size: 1.05em; }


/* footer */

article footer {
margin-top: 2.5em;
font-size: 98%;
}

article .meta { margin-top: 1em; }

footer > p { margin: 0; }
footer time a, a.cut { text-decoration: none; }

article time b {
font-size: 130%;
vertical-align: middle;
margin: 0 0.13em;
}

article .meta b {
font-size: 120%; font-weight: normal; font-family: sans-serif;
}


/* media attachments */

footer .attachments {
display: flex;
margin-top: 1em;
flex-wrap: wrap;
}

.attachments figure {
width: 16em;
border: 1px solid; padding: 7px; margin: 0;
display: inline-block;
overflow: hidden;
}
.attachments img {
height: 11em; max-width: 16em;
margin-top: 4px;
display: block;
}


/* colour */

body { background: #d6fffe; }

article { background: rgba(33, 34, 141, .10); }

article, .attachments figure { border-color: darkcyan; }