<!doctype html>
<html>
<head data-fold="{{{">
	<title>Asekai documentation --- ver. zensekai demo</title>
	<meta name="jedit" content=":folding=explicit:collapseFolds=1:wrap=soft:" />
	<!-- ^ jedit & maybe some other text editors can fold (hide) sections inside triple '{'/'}'.
	you can put these inside comments, but i prefer to use a data- attribute when possible
	because in the chromium inspector comments just clutter source & don't fold. -->
	<meta charset="utf-8" />
	<link rel="stylesheet" href="./test.css" class="basic-styles" />
<!-- }}} --></head>
<body>

<header class="title">
<h1>Asekai documentation</h1>
<p>ver. zensekai demo</p>
</header>

<article id="InstallingDemo">
	<h1>InstallingDemo</h1>
	<div>
	<p>Usually, running the demo has about three steps:</p><ol><li>Get the <a class="tc-tiddlylink-external" href="https://godotengine.org/download" rel="noopener noreferrer" target="_blank">godot engine</a> for your specific platform (64-bit standard edition)<ul><li>make sure to put godot in a place that's in your path variable</li><li>alternatively, use this <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/simple-godot-installer" rel="noopener noreferrer" target="_blank">simple-godot-installer</a> (download directly <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/simple-godot-installer/archive/master.zip" rel="noopener noreferrer" target="_blank">here</a>) to completely set up godot more easily on windows</li></ul></li><li>Get a stable build from the <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/zensekai-demo/releases" rel="noopener noreferrer" target="_blank">Releases tab</a><ul><li>because codeberg is silly, automatic releases come as .zip but <em>manual</em> releases can only be uploaded as .tar.gz and you will need <a href="http://peazip.org/">PeaZip</a> to open them on windows</li></ul></li><li>From within <code>zensekai-demo/zensekai</code>, run the demo<ul><li>on linux, run <code>./zensekai</code></li><li>on windows, in <code>cmd.exe</code> or windows explorer, start <code>.\zensekai.bat</code></li></ul></li></ol><p>however there may be issues that make it more complicated.</p><p>-</p><h3 class="">zensekai.bat doesn't run / path variable??</h3><p>Windows is very, very picky about finding godot if you don't call it from the cmd.exe shell and first have it correctly in the path variable. try <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/simple-godot-installer" rel="noopener noreferrer" target="_blank">simple-godot-installer</a> to set this up easily</p><p>if that doesn't work, or if you're on linux, check out <a class="tc-tiddlylink tc-tiddlylink-resolves" href="#CompilingDemo">CompilingDemo</a> for instructions on how to add godot to your $PATH</p><h3 class="">something seems really broken, an executable won't even run</h3><p>It's possible my build doesn't work on your OS and you need to compile from source.<br> 
if you want to do this, go through the full set of instructions in <a class="tc-tiddlylink tc-tiddlylink-resolves" href="#CompilingDemo">CompilingDemo</a></p><hr><p>note:</p><p>technically, the godot binary wasn't intended to be used this way and you're supposed to 'export your project' to pop out some kind of godot extract to distribute with it, but for now I'm busy with the actual demo code so I'll clean this up and do it "the proper way" at some later date. for now simply running the editor works</p>
	</div>
</article>

<article id="CompilingDemo">
	<h1>CompilingDemo</h1>
	<div>
	<h2 class="">Linux</h2><p>(64-bit, tested on devuan/debian)</p><p>note that most/all of these instructions should be done in a terminal window.</p><h3 class="">Installing dependencies</h3><ul><li>Be sure <code>gcc</code> and <code>make</code> are installed, as well as <code>git</code> if you want to use any version control / repository cloning features<ul><li>on debian-based distros, you can probably <code>sudo apt install build-essential</code> to get the first two</li><li>if you still don't have them, run <code>sudo apt install gcc make git</code></li></ul></li><li>Then get the 64-bit "standard" version of godot from <a class="tc-tiddlylink-external" href="https://godotengine.org/download/linux" rel="noopener noreferrer" target="_blank">godotengine.org</a> and put it some place that's in your <code>$PATH</code><ul><li>I usually put it in <code>/home/user/bin</code> aka <code>~/bin</code>.<br> you could also use <code>/usr/local/bin</code> if you have administrator permissions and can put things there</li><li>link the long specific name to "godot", ex.:<br> <code>cd /path/to/godot/;</code> <code>ln -s ./Godot_v3.2-stable_x11.64 ./godot</code></li><li>see <a href="#path_linux">the misc section</a> for how to add a path</li></ul></li></ul><h3 class="">Getting the source code</h3><ul><li>For a release I have considered at least "stable enough" to go there, go to the <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/zensekai-demo/releases" rel="noopener noreferrer" target="_blank">Releases tab</a><ul><li>get either the "ZIP" or "TAR.GZ" version listed first as "Source Code"</li></ul></li><li>For the most current version of the code, go to the <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/zensekai-demo" rel="noopener noreferrer" target="_blank">main repo page</a><ul><li>go to any directory and clone the "HTTPS" url shown near the right, ex.: git clone <code>https://codeberg.org/Valenoern/zensekai-demo.git</code></li><li>you may be able to use "download repository" to get a zip of the current files, but I don't think it includes the <code>.git</code> directory containing version history.</li><li>if you are thinking about making some kind of pull request or simply running <code>git reset</code> to wipe any changes to the directory, be sure to get the source with <code>git clone</code>.</li></ul></li></ul><h3 class="">Compiling & running</h3><ul><li>Within <code>zensekai-demo/zensekai</code>,</li><li>Run <code>make</code> to build binaries etc. specified in the <code>Makefile</code><ul><li>to undo this step and start over run <code>make clean</code></li><li>if you think things have <em>really</em> been screwed up, run <code>git reset --hard</code> to revert the source folder to the state you downloaded it. (this is usually not necessary.)</li></ul></li><li>If <code>make</code> has been run, run <code>godot map.tscn</code> to start the demo<ul><li>make should also have produced a shorter way to run this: <code>./zensekai</code></li></ul></li></ul><h2 class="">Windows</h2><p>(64-bit, tested on windows 10)</p><h3 class="">installing dependencies</h3><ul><li>Install the x86_64 version of <a class="tc-tiddlylink-external" href="https://www.msys2.org/" rel="noopener noreferrer" target="_blank">msys2</a>.</li><li>Open the msys2 terminal and update the software with <code>pacman -Syu</code><ul><li>(note: not the mingw terminals, and the "64 bit" msys2. if you are asked)</li></ul></li><li>Install anything missing with <code>pacman -S gcc make git</code></li><li>Then get the 64-bit "standard" <a class="tc-tiddlylink-external" href="https://godotengine.org/download/windows" rel="noopener noreferrer" target="_blank">windows version of godot</a>, and put it somewhere easily found like <code>c:\Program Files\Godot</code><ul><li>see <a href="#path_windows">the misc section</a> for how to add this folder to your <code>%path%</code> so you can simply call <code>godot</code></li></ul></li></ul><h3 class="">Getting the source code</h3><ul><li>This should be the same as in the linux section, but if using <code>git clone</code> make sure to do it in the msys2 terminal.</li></ul><h3 class="">compiling & running</h3><ul><li>In the msys2 terminal, open the <code>zensekai-demo/zensekai</code> directory</li><li>Run <code>make</code> to build everything in the Makefile</li><li>If <code>make</code> has been run, you can start the demo with <code>godot map.tscn</code><ul><li>windows seems to only recognise <code>%path%</code> in <code>cmd.exe</code> so you must run this command <em>there</em>.</li><li>make should have produced a <code>zensekai.bat</code> that can be opened from explorer to run the correct command in the correct place.</li></ul></li></ul><h2 class="">misc</h2><section id="path_linux"><h3 class="">Using ~/bin (Linux)</h3><p>To use the <code>~/bin</code> directory, make sure your <code>/home/user/.profile</code> contains a line like</p><pre><code>if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi</code></pre><p>assuming you're using <code>bash</code> or a similar shell.</p></section><section id="path_windows"><h3 class="">Using the Program Files directory on windows</h3><ol><li>Open the environment variables section in the control panel.<ul><li>To go there quickly, press <code>Win+R</code> and open <code>systempropertiesadvanced</code></li></ul></li><li>Under "User Variables", edit "Path" and "add new" to the list wherever you put the godot executable.<ul><li>A good place is <code>C:\Program Files\Godot</code></li><li>When finished the variable should read something like "<code>[everything else];C:\Program Files\Godot</code>"</li></ul></li></ol></section>
	</div>
</article>

</body>
</html>
